.timerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h3.timerTitle {
  font-size: var(--fontSize-m);
  white-space: nowrap;
}

.timerGroup {
  display: flex;
  gap: 20px;
  font-size: var(--fontSize-xxxl);
  font-weight: var(--fontWeight-xl);
}
.timerNumber {
  position: relative;
  display: flex;
  justify-content: center;
  width: 239px;
  background-color: var(--orange);
  color: var(--light);
  border-radius: 44px;
  font-weight: var(--fontWeight-xl);
  font-family: var(--fontFamilyMontserrat);
}
/* .timerNumber::after {
  content: '';
  display: block;
  width: 240px;
  height: 148px;
  position: absolute;
  background-color: var(--orange);
} */
.timerDescription {
  font-size: var(--fontSize-xxs);
  font-family: var(--fontFamilyMontserrat);
  font-weight: var(--fontWeight-xl);
  margin-bottom: 20px;
}

.timerSubDescription {
  font-size: var(--fontSize-xxs);
  font-family: var(--fontFamilyMontserrat);
  font-weight: var(--fontWeight-s);
}

@media screen and (width <= 768px) {
  h3.timerTitle {
    font-size: var(--fontSize-xs);
  }
  .timerSubDescription {
    font-weight: var(--fontWeight-xl);
  }
  .timerWrapper {
    align-items: center;
  }
  .timerNumber {
    font-size: var(--fontSize-md);
    width: 122px;
  }
  .timerGroup {
    gap: 10px;
  }
}

@media screen and (width <= 1240px) {
  .timerWrapper {
    align-items: center;
    gap: 15px;
  }
}

@media screen and (width <= 480px) {
  .timerNumber {
    font-size: var(--fontSize-m);
    width: 100px;
  }
}
