.wrapper {
  padding-right: 0;
  display: flex;
  padding-top: 60px;
  max-width: var(--desktop);
  justify-content: space-between;
  gap: 20px;
}
.photoWrapper {
  position: relative;
  flex-basis: 50%;
}
.photoWrapper > img {
  width: 100%;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-basis: 50%;
}
.textWrapper span {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
  display: block;
  font-family: var(--fontFamilyMontserrat);
}
span.bold,
b {
  font-weight: 800;
}
.title {
  font-size: var(--fontSize-xxxl);
  margin-bottom: 23px;
}
.lifeIcon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.yearWrapper {
  position: absolute;
  top: -25px;
  right: 36px;
}

.year::before {
  content: '';
  display: block;
  width: 68px;
  height: 2px;
  background-color: var(--dark);
  transform: translate(-90px, 20px);
}
@media screen and (width <= 768px) {
  .title {
    font-size: var(--fontSize-m);
  }
}

@media screen and (width <= 1199px) {
  .wrapper {
    justify-content: center;
  }
  .textWrapper {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
  .button {
    display: none;
  }
  .title {
    font-size: clamp(46px, 10vw, 48px);
  }
}

@media screen and (width <= 768px) {
  .wrapper {
    padding-right: 25px;
  }
  .textWrapper span {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .textWrapper .doNotStop {
    margin-top: 30px;
    margin-bottom: 0;
  }
}
