.wrapper {
  padding: 30px 16px;
  flex-basis: 49%;
  border: 4px solid var(--black);
  backdrop-filter: blur(10px);
  height: fit-content;
}
.titleWrapper {
  display: flex;
  justify-content: space-between;
}
.arrowIcon {
  width: 32px;
  height: 17px;
}
h3.title {
  font-family: var(--fontFamilyMontserrat);
  font-weight: var(--fontWeight-xl);
  font-size: var(--fontSize-smaller);
  line-height: 16px;
  flex-basis: 90%;
}
.description {
  font-family: var(--fontFamilyMontserrat);
  font-size: var(--fontSize-smaller);
  display: block;
  margin-top: 26px;
}
