.wrapper {
  padding: 12px;
  display: flex;
  gap: 81px;
}
.logoWrapper {
  display: block;
  flex-basis: 70%;
}
.logoWrapper > img {
  width: 100%;
}
.titleWrapper {
  display: flex;
  gap: 16px;
}
.title {
  display: block;
  flex-basis: 30%;
}

.generalWrapper {
  display: flex;
  flex-direction: column;
}

.descriptionWrapper {
  padding-left: 26px;
}

.descriptionTitle {
  position: relative;
  font-size: var(--fontSize-s);
  font-family: var(--fontFamilyMontserrat);
  font-weight: var(--fontWeight-xl);
  line-height: 27px;
}
.descriptionTitle::before {
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 7px;
  left: -25px;
  background-color: var(--black);
}

.descriptionText {
  position: relative;
  font-size: var(--fontSize-s);
  font-family: var(--fontFamilyMontserrat);
  font-weight: var(--fontWeight-s);
  line-height: 27px;
}
.descriptionText::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 13px;
  left: -11px;
  background-color: var(--black);
}

.descriptionWrapper > ul {
  padding-top: 15px;
  padding-bottom: 15px;
}

.spanWrapper {
  margin-top: 15px;
}

@media screen and (width <= 1204px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .logoWrapper {
    display: none;
  }
  .title {
    display: block;
    flex-basis: 100%;
  }
}

@media screen and (width <= 907px) {
  .title {
    font-size: var(--fontSize-m);
  }
  .generalWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (width <= 554px) {
  .title {
    font-size: var(--fontSize-m-xs);
  }
}
