.wrapper {
  display: flex;
  padding-top: 54px;
  gap: 80px;
}
.cardPrice {
  max-height: 542px;
}
.logoWrapper {
  display: block;
  flex-basis: 50%;
}
.logoWrapper > img {
  width: 100%;
}
.titleWrapper {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-end;
}
.title {
  display: block;
  flex-basis: 50%;
  max-width: 34%;
  font-size: clamp(60px, 10vw, 72px);
}

.generalWrapper {
  display: flex;
  flex-direction: column;
}

.descriptionWrapper {
  padding-left: 26px;
}

.descriptionTitle {
  position: relative;
  font-size: var(--fontSize-s);
  font-family: var(--fontFamilyMontserrat);
  font-weight: var(--fontWeight-xl);
  line-height: 27px;
}
.descriptionTitle::before {
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 7px;
  left: -25px;
  background-color: var(--black);
}

.descriptionText {
  position: relative;
  font-size: var(--fontSize-s);
  font-family: var(--fontFamilyMontserrat);
  font-weight: var(--fontWeight-s);
  line-height: 27px;
}
.descriptionText::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 13px;
  left: -11px;
  background-color: var(--black);
}

.descriptionWrapper > ul {
  padding-top: 30px;
  padding-bottom: 20px;
}

.spanWrapper {
  margin-top: 15px;
}
@media screen and (width > 907px) {
  .wrapper {
    padding-left: 80px;
  }
}
@media screen and (width <= 1204px) {
  .wrapper {
    gap: 40px;
    padding-bottom: 24px;
  }
  .logoWrapper {
    display: none;
  }
  .title {
    font-size: 36px;
    display: block;
    flex-basis: 100%;
    max-width: unset;
    margin-bottom: 20px;
  }
  .descriptionTitle,
  .descriptionText {
    font-size: 22px;
  }
}

@media screen and (width <= 907px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 67px;
    padding-bottom: 80px;
  }

  .generalWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    margin-bottom: 40px;
  }
  .titleWrapper {
    margin-right: auto;
  }
}

@media screen and (width <= 554px) {
  .title {
    font-size: var(--fontSize-m-xs);
  }
}
