.wrapper {
  padding: 12px;
  display: flex;
  gap: 81px;
}
.logoWrapper {
  display: block;
  flex-basis: 70%;
}
.logoWrapper > img {
  width: 100%;
}
.titleWrapper {
  display: flex;
  gap: 16px;
}
.title {
  display: block;
  flex-basis: 30%;
}
