.footerSectionWrapper {
  position: relative;
  z-index: 2;
  background-color: var(--black);
  padding-top: 48px;
  padding-bottom: 40px;
}

.footerSection {
  position: relative;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  width: 95%;
}
.footerTitle {
  position: absolute;
  left: 77px;
  top: -109px;
}

.footerSpan {
  display: block;
  color: var(--light);
  white-space: nowrap;
  font-family: var(--fontFamilyMontserrat);
  font-size: var(--fontSize-s);
  font-weight: var(--fontWeight-s);
}

.footerBottom {
  display: flex;
  align-items: flex-end;
}
@media screen and (width <= 1240px) {
  .links {
    gap: 50px;
  }

  .footerBottom {
    flex-direction: column-reverse;
  }
}
@media screen and (width <= 768px) {
  .footerTitleMob {
    max-width: 105px;
    height: auto;
    padding-top: 55px;
    padding-bottom: 93px;
  }
  .footerTitleMob > img {
    width: 100%;
    height: auto;
  }
  .footerBottom {
    align-items: center;
    flex-direction: column-reverse;
  }
  .links {
    justify-content: center;
    gap: 40px;
  }

  .footerSpan {
    font-size: var(--fontSize-smaller);
    width: 100%;
  }
}

@media screen and (width <= 480px) {
  .footerSpan {
    white-space: wrap;
  }
  .links {
    gap: 27px;
  }
}
@media screen and (orientation: landscape) {
  .footerSpan {
    margin-top: 20px;
  }
}
