.actionWrapper {
  padding-top: 173px;
  padding-bottom: 198px;
  display: flex;
  gap: 132px;
}

.dark {
  padding-left: 0;
  padding-right: 0;
  color: var(--white);
}
@media screen and (width <= 1240px) {
  .actionWrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
    padding-bottom: 38px;
  }
}

@media screen and (width <= 768px) {
  .actionWrapper {
    padding-top: 0;
    padding-bottom: 38px;
  }
}
@media screen and (orientation: landscape) {
  .actionWrapper {
    padding-top: 100px;
  }
}
