:root {
  /* || colors */
  --orange: #fc6500;
  --white: #f1f1f1;
  --dark: #1d1d1b;
  --black: #000000;
  --grey: #adadad;
  --btn-text-color: #fef7f3;

  /* || font family */
  --light: #ffffff;

  --fontFamilyBebas: 'Bebas', system-ui;
  --fontFamilyMontserrat: 'Montserrat', system-ui;
  --fontFamilyMontserratItalic: 'MontserratItalic', system-ui;

  /* || font size */
  --fontSize-smaller: 16px;
  --fontSize-xxs: 24px;
  --fontSize-xs: 26px;
  --fontSize-s: 28px;
  --fontSize-m-xs: 40px;
  --fontSize-m-s: 55px;
  --fontSize-m: 60px;
  --fontSize-md: 66px;
  --fontSize-l: 80px;
  --fontSize-xl: 100px;
  --fontSize-xxl: 104px;
  --fontSize-xxxl: 120px;

  /* || font weight */
  --fontWeight-s: 400;
  --fontWeight-m: 700;
  --fontWeight-xl: 800;

  --border: 4px solid #e0e0e0;

  --desktop: 1440px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Bebas';
  src: url('./fonts/Bebas_Neue_Cyrillic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'MontserratItalic';
  src: url('./fonts/Montserrat-Italic-VariableFont_wght.ttf');
}
.container {
  padding-left: 36px;
  padding-right: 36px;
  margin: 0 auto;
  max-width: var(--desktop);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fontSize-s);
  font-family: var(--fontFamilyBebas);
  font-style: normal;
  font-weight: var(--fontWeight-s);
  color: var(--black);
  background-color: var(--white);
}

.isMobile {
  background-color: var(--light);
}

html {
  -webkit-tap-highlight-color: var(--black);
}

button {
  border: none;
  background-color: unset;
  cursor: pointer;
  display: block;
  font-size: clamp(var(--fontSize-xxs), 10vw, var(--fnSizes-s));
  font-family: var(--fontFamilyBebas);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

body {
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
}

a {
  transition: opacity 0.3s;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  opacity: 0.7;
}
a:hover {
  opacity: 1;
  color: var(--white);
}
li {
  text-decoration: none;
  list-style: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: var(--fontWeight-s);
}

img {
  display: block;
}

h1 {
  font-size: clamp(var(--fontSize-md), 5vw, var(--fontSize-xxl));
}

h2 {
  font-size: clamp(var(--fontSize-xl), 6vw, var(--fontSize-l));
}

h3 {
  font-size: clamp(var(--fontSize-l), 5vw, var(--fontSize-m));
}

h4 {
  font-size: clamp(var(--fontSize-m), 5vw, var(--fontSize-s));
}

h5 {
  font-size: clamp(var(--fontSize-s), 5vw, var(--fontSize-xs));
}

p {
  margin: 0;
}
/* Section */
.titleSection {
  font-size: var(--fontSize-xs);
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 8px;
  text-transform: uppercase;
}

@media screen and (width <= 1200) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  h2 {
    font-size: clamp(var(--fontSize-xl), 4vw, var(--fontSize-m));
  }

  h3 {
    font-size: clamp(var(--fontSize-m), 4vw, var(--fontSize-s));
  }

  h4 {
    font-size: clamp(var(--fontSize-s), 4vw, var(--fontSize-xs));
  }
}

@media screen and (width <= 768px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.flex {
  display: flex;
}
