.wrapperEducation {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  overflow-x: hidden;
}
.photoContainer {
  position: relative;
  flex-basis: 49%;
}

.photoContainer > img {
  width: 100%;
}
.photoContainer::after {
  content: 'psychology';
  color: var(--black);
  font-size: clamp(var(--fontSize-l), 2vw, var(--fontSize-xl));
  text-transform: uppercase;
  position: absolute;
  bottom: 15px;
  right: 140px;
}
.photoContainer::before {
  content: 'course';
  color: var(--black);
  font-size: var(--fontSize-s);
  position: absolute;
  bottom: 25px;
  right: 45px;
}

.textContainer {
  padding-top: 140px;
  flex-basis: 49%;
  padding-bottom: 140px;
}

.title {
  font-size: clamp(var(--fontSize-xl), 6vw, var(--fontSize-xxl));
  font-family: var(--fontFamilyBebas);
  text-transform: uppercase;
  margin-bottom: 12px;
  width: 50%;
}
.description {
  font-size: var(--fontSize-xs);
  font-weight: var(--fontWeight-s);
  font-family: var(--fontFamilyMontserrat);
  margin-bottom: 33px;
  display: inline-block;
}
.btnSignUp {
  padding-left: 48px;
  padding-right: 48px;
  text-transform: uppercase;
}

/* || Tablet */

@media screen and (width <= 1200px) {
  .wrapperEducation {
    gap: 10px;
    padding-left: 0;
  }
  .title {
    font-size: clamp(var(--fontSize-xl), 6vw, var(--fontSize-xl));
  }
  .photoContainer,
  .textContainer {
    flex-basis: 48%;
    height: fit-content;
  }
  .photoContainer::after {
    right: 110px;
  }
  .textContainer {
    padding-bottom: 60px;
  }
}

@media screen and (width <= 930px) {
  .photoContainer::after,
  .photoContainer::before {
    display: none;
  }
  .photoContainer::before {
    display: none;
  }
}

/* ||  Mobile */

@media screen and (width <= 768px) {
  .photoContainer > img {
    max-height: 600px;
    width: auto;
  }
  .photoContainer,
  .textContainer {
    flex-basis: 100%;
    padding-top: 0;
  }
  .textContainer {
    position: relative;
    padding-bottom: 0;
    padding-left: 25px;
  }
  .title {
    position: absolute;
    top: -100px;
    margin-bottom: 0;
    width: 100%;
    padding-right: 20px;
    font-size: var(--fontSize-xxl);
  }
  .description {
    font-size: clamp(var(--fontSize-smaller), 6vw, var(--fontSize-xxs));
    margin-bottom: 80px;
  }
  .titleMob {
    font-size: 88px;
  }
  .titleMob ~ span {
    font-size: 46px;
  }
}
@media screen and (width <= 620px) {
  .title {
    width: 50%;
    top: -200px;
  }
}
@media screen and (width <= 480px) {
  .title {
    font-size: var(--fontSize-xl);
  }
  .description {
    margin-bottom: 50px;
  }
}
