.wrapper {
  display: flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 52px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.btnSignUp {
  position: relative;
}
.bg img {
  width: 100%;
  height: 100%;
}

.howItWork {
  flex-basis: 50%;
  position: relative;
}
.title {
  color: var(--light);
  font-size: clamp(var(--fontSize-m-xs), 3vw, var(--fontSize-m-s));
}

.subDescription {
  font-size: clamp(var(--fontSize-xxs), 3vw, var(--fontSize-s));
  color: var(--light);
  font-family: var(--fontFamilyMontserrat);
  font-weight: var(--fontWeight-s);
}
.subDescription b {
  color: var(--light);
  font-family: var(--fontFamilyMontserrat);
  font-weight: var(--fontWeight-xl);
  font-size: clamp(var(--fontSize-xxs), 2vw, 22px);
  text-transform: uppercase;
}
.description {
  color: var(--light);
  font-family: var(--fontFamilyMontserrat);
}
.titleCont {
  margin-bottom: 20px;
}

@media screen and (width <= 1240px) {
  .howItWork {
    flex-basis: 100%;
  }
  br {
    display: none;
  }
  .bg img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (width <= 1140px) {
  .bg img {
    width: auto;
    height: 100%;
  }
}
@media screen and (width <= 768px) {
  .familyPhoto {
    display: none;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .mobPhoto {
    width: 100%;
    margin-bottom: 20px;
  }

  .title {
    color: var(--dark);
  }
  .subDescription {
    color: var(--dark);
  }
  br {
    display: none;
  }
  .subDescription > b {
    color: var(--dark);
  }
  .btnSignUp {
    margin-bottom: 20px;
  }
  .howItWork {
    order: 1;
    padding-left: 36px;
    padding-right: 36px;
  }
  .description {
    color: var(--dark);
  }
}
