.wrapper {
  display: flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 52px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.btnSignUp {
  position: relative;
  opacity: 1;
}
.bg img {
  width: 100%;
  height: 100%;
}

.howItWork {
  flex-basis: 50%;
  position: relative;
}
.title {
  color: var(--light);
  font-size: clamp(var(--fontSize-m-xs), 3vw, var(--fontSize-m-s));
}

.subDescription {
  font-size: clamp(var(--fontSize-xxs), 3vw, var(--fontSize-s));
  color: var(--light);
  font-family: var(--fontFamilyMontserrat);
  font-weight: var(--fontWeight-s);
  text-transform: uppercase;
}
.subDescription b {
  color: var(--light);
  font-family: var(--fontFamilyMontserrat);
  font-weight: var(--fontWeight-xl);
  font-size: clamp(var(--fontSize-xxs), 2vw, 22px);
  text-transform: uppercase;
}
.description {
  color: var(--light);
  font-family: var(--fontFamilyMontserrat);
  text-transform: uppercase;
  font-weight: 800;
}
.titleCont {
  margin-bottom: 20px;
}

@media screen and (width <= 1240px) {
  .howItWork {
    flex-basis: 100%;
  }
  br {
    display: none;
  }
  .bg img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (width <= 1140px) {
  .bg img {
    width: auto;
    height: 100%;
  }
}

@media screen and (width <= 1100px) and (width >= 500px) {
  .familyPhoto {
    transform: translateX(calc(100vw - 100%));
  }
}

@media screen and (width <= 768px) {
  .familyPhoto {
    display: none;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .mobPhoto {
    width: 100%;
  }
  .mobPhoto,
  .btnSignUp {
    margin-bottom: 0;
  }
  .title {
    color: var(--dark);
    margin-bottom: 20px;
  }
  .subDescription {
    font-size: 18px;
    color: var(--dark);
  }
  br {
    display: none;
    font-size: 18px;
  }
  .subDescription > b {
    color: var(--dark);
    font-size: 18px;
  }

  .howItWork {
    order: 1;
    padding-left: 36px;
    padding-right: 36px;
  }
  .description {
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--dark);
  }
}

@media screen and (width < 768px) {
  .btnSignUp {
    transform: translateY(-25px);
    opacity: 1;
    max-height: 58px;
  }
}

@media screen and (width <= 480px) {
  .howItWork {
    padding-left: 25px;
    padding-right: 25px;
  }
}
